<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag 'email' %>
    <%= user.email %>
  </div>


  <%= label_tag :customer_id %>
  <%= form.select :customer_id, options_for_select(customer_ids(user), user.customer_id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
